body {
        background-color: lavender;
    }

    .card {
        background-color: white;
        width: 300px ;
        padding: 20px;
        margin: 200px auto;
        border: 1px solid #ddd;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        border-radius: 6px;

    }

    .card button {
        background-color: #4f46e5;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
    }